[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
black = "*"
rope = "*"

[packages]
torch = "===1.4.0"
torchvision = "===0.5.0"
matplotlib = "*"
scipy = "*"
shapely = "*"
plyfile = "*"
vispy = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
